* {
  font-family: Helvetica;
  background: #ecf0f1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

#map {
  border: 2px lightgray solid;
}

.ticks {
  font: 10px sans-serif;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #ddd;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }

    .label {
      margin-left: 20px;
      margin-right: 10px;
    }

    #timePicker {
      padding-top: 10px;
    }
